img {width: 600px;}
body { 
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    color:black;
    font-size: "8000pxl"; 
    background-color: white;}

h1 { font-size: '300pxl';}
.Test { color: red; font-size: 20px; }